html {
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: #131313;
}
body a {
  color: #fff;
  text-decoration: none;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/open-sans-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/open-sans-latin-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.column-wrap {
  position: relative;
  width: 720px;
  margin: 0 auto;
}

#masthead {
  width: 100%;
  height: 48px;
  background: #fff;
}
#bbc-logo {
  position: relative;
  top: 10px;
  left: 0;
}

#auto-play {
  cursor: pointer;
  color: #333;
  font-weight: bold;
  top: 12px;
  right: 60px;
  position: absolute;
}

#voice-input {
  cursor: pointer;
  top: 4px;
  right: 0;
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  padding: 8px;
  border-radius: 100px;
  display: inline;
  width: 18px;
  height: 18px;
  transition-property: border-color;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
#voice-input.muted {
  border-color: red;
}
#voice-input.muted polygon {
  fill: red;
  transition-property: border-color;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
#voice-input.success {
  border-color: #00FF26;
}
#voice-input.success polygon {
  fill: #00FF26;
}

#module-head-wrapper {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}
#module-head {
  width: 100%;
  height: 60px;
  background-color: #E60000;
  position: absolute;
  top: -60px;
  transition-property: top;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.page-weather #module-head {
    background-color: #336c99;
}
#module-head.active {
  top: 0;
}
#module-head-inner {
  position: relative;
}
h1 {
  margin: 0;
  padding: 6px 0 0 0px;
}



#module-content {
  overflow: hidden;
}
