.list-item-weather {
    padding: 10px 0;
    /* otherwise the content disappears */
    -webkit-transform: translateZ(0);
}


.list-item-weather h2,
.list-item-weather p {
    padding: 0;
    margin: 0;
    font-size: 1.7em;
    line-height: 1.2;
}
.list-item-weather p {
    font-size: 1.3em;
    color: #fff;
    line-height: 1.5;
}


.list-item-weather h2 {

}
.list-item-selected .list-item-weather h2 {
}

.list-item-active .list-item-weather {
    background-color: #336C99;
}

.list-item .weather-ambience {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    opacity: 0;
}

.list-item-weather-active .weather-ambience {
    opacity: 1;
}


.list-item-weather-active .weather {
    opacity: 1;
}

.weather {
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    opacity: 0;
    position: relative;
    padding-left: 164px;
}

.weather-summary {
    float: left;
    margin-top: 16px;
    padding: 16px 16px 16px 0;
    width: 164px;
    text-align: right;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.weather-description {
   font-size: 1.8em;
   padding: 16px;
   padding-top: 32px;
   margin-left: 196px;
}

.weather-temp-high {
    font-weight: bold;
    line-height: 1;
    font-size: 3.2em;
}

.weather-temp-low {
    font-size: 3.2em;
    line-height: 1;
    opacity: 0.8;
}

.weather-type {
    font-size: 1.4em;
    padding-right: 4px;
    margin-top: 8px;
}

.weather-icon {
    position: absolute;
    top: 32px;
    left: 0;
    background-size: contain;
    width: 164px;
    height: 164px;
}

/* Weather Ambience */
.weather-ambience-0 { background-image: url(/img/weather/ambience/0.jpg);}
.weather-ambience-1 { background-image: url(/img/weather/ambience/1.jpg);}
.weather-ambience-2 { background-image: url(/img/weather/ambience/2.jpg);}
.weather-ambience-3 { background-image: url(/img/weather/ambience/3.jpg);}
.weather-ambience-4 { background-image: url(/img/weather/ambience/4.jpg);}
.weather-ambience-5 { background-image: url(/img/weather/ambience/5.jpg);}
.weather-ambience-6 { background-image: url(/img/weather/ambience/6.jpg);}
.weather-ambience-7 { background-image: url(/img/weather/ambience/7.jpg);}
.weather-ambience-8 { background-image: url(/img/weather/ambience/8.jpg);}
.weather-ambience-9 { background-image: url(/img/weather/ambience/9.jpg);}
.weather-ambience-10 { background-image: url(/img/weather/ambience/10.jpg);}
.weather-ambience-11 { background-image: url(/img/weather/ambience/11.jpg);}
.weather-ambience-12 { background-image: url(/img/weather/ambience/12.jpg);}
.weather-ambience-13 { background-image: url(/img/weather/ambience/13.jpg);}
.weather-ambience-14 { background-image: url(/img/weather/ambience/14.jpg);}
.weather-ambience-15 { background-image: url(/img/weather/ambience/15.jpg);}
.weather-ambience-16 { background-image: url(/img/weather/ambience/16.jpg);}
.weather-ambience-17 { background-image: url(/img/weather/ambience/17.jpg);}
.weather-ambience-18 { background-image: url(/img/weather/ambience/18.jpg);}
.weather-ambience-19 { background-image: url(/img/weather/ambience/19.jpg);}
.weather-ambience-20 { background-image: url(/img/weather/ambience/20.jpg);}
.weather-ambience-21 { background-image: url(/img/weather/ambience/21.jpg);}
.weather-ambience-22 { background-image: url(/img/weather/ambience/22.jpg);}
.weather-ambience-23 { background-image: url(/img/weather/ambience/23.jpg);}
.weather-ambience-24 { background-image: url(/img/weather/ambience/24.jpg);}
.weather-ambience-25 { background-image: url(/img/weather/ambience/25.jpg);}
.weather-ambience-26 { background-image: url(/img/weather/ambience/26.jpg);}
.weather-ambience-27 { background-image: url(/img/weather/ambience/27.jpg);}
.weather-ambience-28 { background-image: url(/img/weather/ambience/28.jpg);}
.weather-ambience-29 { background-image: url(/img/weather/ambience/29.jpg);}
.weather-ambience-30 { background-image: url(/img/weather/ambience/30.jpg);}
.weather-ambience-31 { background-image: url(/img/weather/ambience/31.jpg);}
.weather-ambience-32 { background-image: url(/img/weather/ambience/32.jpg);}

/* Weather Icons */
.weather-icon-0 { background-image: url(/img/weather/icon/164/0.png);}
.weather-icon-1 { background-image: url(/img/weather/icon/164/1.png);}
.weather-icon-2 { background-image: url(/img/weather/icon/164/2.png);}
.weather-icon-3 { background-image: url(/img/weather/icon/164/3.png);}
.weather-icon-4 { background-image: url(/img/weather/icon/164/4.png);}
.weather-icon-5 { background-image: url(/img/weather/icon/164/5.png);}
.weather-icon-6 { background-image: url(/img/weather/icon/164/6.png);}
.weather-icon-7 { background-image: url(/img/weather/icon/164/7.png);}
.weather-icon-8 { background-image: url(/img/weather/icon/164/8.png);}
.weather-icon-9 { background-image: url(/img/weather/icon/164/9.png);}
.weather-icon-10 { background-image: url(/img/weather/icon/164/10.png);}
.weather-icon-11 { background-image: url(/img/weather/icon/164/11.png);}
.weather-icon-12 { background-image: url(/img/weather/icon/164/12.png);}
.weather-icon-13 { background-image: url(/img/weather/icon/164/13.png);}
.weather-icon-14 { background-image: url(/img/weather/icon/164/14.png);}
.weather-icon-15 { background-image: url(/img/weather/icon/164/15.png);}
.weather-icon-16 { background-image: url(/img/weather/icon/164/16.png);}
.weather-icon-17 { background-image: url(/img/weather/icon/164/17.png);}
.weather-icon-18 { background-image: url(/img/weather/icon/164/18.png);}
.weather-icon-19 { background-image: url(/img/weather/icon/164/19.png);}
.weather-icon-20 { background-image: url(/img/weather/icon/164/20.png);}
.weather-icon-21 { background-image: url(/img/weather/icon/164/21.png);}
.weather-icon-22 { background-image: url(/img/weather/icon/164/22.png);}
.weather-icon-23 { background-image: url(/img/weather/icon/164/23.png);}
.weather-icon-24 { background-image: url(/img/weather/icon/164/24.png);}
.weather-icon-25 { background-image: url(/img/weather/icon/164/25.png);}
.weather-icon-26 { background-image: url(/img/weather/icon/164/26.png);}
.weather-icon-27 { background-image: url(/img/weather/icon/164/27.png);}
.weather-icon-28 { background-image: url(/img/weather/icon/164/28.png);}
.weather-icon-29 { background-image: url(/img/weather/icon/164/29.png);}
.weather-icon-30 { background-image: url(/img/weather/icon/164/30.png);}
.weather-icon-31 { background-image: url(/img/weather/icon/164/31.png);}
.weather-icon-32 { background-image: url(/img/weather/icon/164/32.png);}

